<!DOCTYPE html>

@{
    ViewBag.Title = "Index";
    Layout = null;

}

@Html.ActionLink("Logout", "Logout", "Account", new { Area = " " })
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>


<body>
   <h2>Employee</h2>
</body>
</html>
