<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crossover SPA</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="shortcut icon" type="image/ico" href="@Url.Content("~/favicon.ico")">

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css">
    @*<link rel="stylesheet" href="~/assets/lib/bootstrap/css/bootstrap-theme.min.css">*@
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/lib/iCheck/skins/square/blue.css">

    <link rel="stylesheet" href="~/lib/jquery-loading/jquery.loading.min.css">

    <link rel="stylesheet" href="~/lib/adminlte/css/AdminLTE.min.css">
    <link rel="stylesheet" href="~/lib/adminlte/css/skins/_all-skins.min.css">

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/adminlte/js/adminlte.min.js"></script>
    <script src="~/lib/jquery-loading/jquery.loading.min.js"></script>

    <style>
        .wrapper, html {
            background-color: #ecf0f5 !important;
        }

        .content-wrapper, .main-footer {
            margin-left: 0;
        }

        .navbar-header {
            float: left;
        }

        .navbar-brand {
            padding: 5px;
        }

        .main-header .navbar {
            margin-left: 0;
        }

        .content {
            padding: 10px !important;
        }

        .main-footer {
            padding-top: 5px;
            padding-bottom: 5px;
            text-align: center;
        }
    </style>
</head>

<body class="skin-blue">
    <div class="wrapper">
        <header class="main-header">
            <nav class="navbar">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <img class="navbar-brand" src="~/assets/images/logo.png" alt="">
                </div>

                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li><a href="/Account/Login" class="show-mask">Login</a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <div class="content" style="padding-left: 0; padding-right: 0;">
                <div id="main-container">
                    <div style="padding-right: 15px; padding-left: 15px;">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
        <footer class="main-footer">
            <strong>Copyright &copy; 2017 <a href="http://www.crossovernepal.com">Crossover Nepal Pvt. Ltd</a>.</strong> All rights reserved.
        </footer>
    </div>
</body>
</html>
